recursive-include acidcli/acid/agents *
recursive-include acidcli/acid/roles *
recursive-include acidcli/acid version
recursive-exclude acidcli/acid/agents *.yml .artifactignore
recursive-exclude acidcli *.pyc
